.hero {
  padding-top: 75px;
  padding-bottom: 56px;
}

.hero > .container {
display: flex;
    @media screen and (min-width: 320px) {
       flex-direction: column;
      }
    
      @media screen and (min-width: 1176px) {
        flex-direction: row; 
      }
}

.hero-title {
  font-family: var(--font-family);
  font-weight: 900;
  color: var(--text-primary);
  
    @media screen and (min-width: 320px) {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
      }
    
      @media screen and (min-width: 1176px) {
      margin-bottom: 15px;
      font-size: 44px;
      text-align: start;
      width: 530px;
      }
}

.hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  
  line-height: 140%;
  color: var(--text-primary);
  

  @media screen and (min-width: 320px) {
    font-size: 16px;
    margin-bottom: 29px;
    text-align: center;
    }
  
    @media screen and (min-width: 1176px) {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: start;
    width: 530px;
    }
}

.hero-box {
  display: flex;
  gap: 89px;
  margin-bottom: 35px;
}

.hero-span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--inputs-grey);
}

.hero-btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--inputs-grey);
  border: 1px solid var(--inputs-grey);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;

  &:hover,
  &:focus {
    background-color: var(--buttons-primary);
    color: var(--inputs-light);
  }
}
